

.gallery-img {
  transition: transform .2s; /* Animation */
}

.gallery-img:hover {
  transform: scale(1.2);
}

.justified-gallery {
  overflow: hidden;
  width: 192px;
  height: 129.8802681992337px;
  top: 6px;
  left: 6px;
  opacity: 1;
}