.cn {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.gradient {
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

.shadow {
    -webkit-box-shadow: 0px 15px 44px -1px rgba(0,0,0,0.13);
    -moz-box-shadow:    0px 15px 44px -1px rgba(0,0,0,0.13);
    box-shadow:         0px 15px 44px -1px rgba(0,0,0,0.13);
}